<!DOCTYPE html>
<!-- TODO -->
<!--
  Modify the code to render fetch N lines (an idea about N: 
  twice the size of the number of rows that can be viewed on the screen
  without scrolling?) from the available items' database
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chefbox</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  {{> navbar}}

  <!-- Page Content -->
  <div class="container" style="text-align: center; position: relative; margin: 0 auto;" id="container">
    <div class="form-group">
      <div class="input-group col-md-7" style="padding: 0 5px 0 5px;">
        <input id="keyword-search" type="text" class="form-control"  placeholder="Hi {{username}}! What shall we eat today?" style="text-align: center;"/>
        <div class="input-group-btn" role="group">
          <button style="background: #fff; border: none; text-shadow: none; padding: none;">
            <span>
              <img src="images/magnifying-glass32.png" alt="none" />
            </span>
          </button>
        </div>
      </div>
    </div>
    <hr>
    <div class="row" style="height: 350px; width: 100%; margin: auto; padding: 0 5px 0 5px; text-align: center;" >
      <div class="col-md-12 portfolio-item" id="map-container" style="height: 350px; width: 100%; margin: auto; padding: 0 5px 0 5px; "></div>
    </div>
    <hr>
    <div class="row" style="text-align: center; width: 100%; margin: auto; padding: 0 5px 0 5px;">
      {{#each data.fooditems}}
      <div class="col-md-3 portfolio-item" id="{{id}}" style="text-align: center;">
          <table>
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>
                <button style="background: #fff; border: none; text-shadow: none;">
                  <span class="image">
                    <img src="{{imageURL}}" style="width: 100%;" alt="none" />
                  </span>
                </button>
              </td>
              <td>
                <b>{{price}}</b>, <b>{{rating}}</b>/5.0
                <br>
                {{description}}
                <br>
                <b>There are {{count}} items left</b>
                <br>
                <table align="center">
                  <thead>
                  </thead>
                  <tbody>
                    <td>
                      <br><button id="viewbtn{{@index}}" class="btn btn-default-order">view</button>
                    </td>
                    <td>&nbsp;&nbsp;</td>
                    <td>
                      <br>
                      {{> orderview this}}
                    </td>                      
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      {{/each}}
    </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map-container'), {
          center: {lat: 32.878484, lng: -117.213509},
          zoom: 14
        });

        var lat_lng1 = {lat: 32.878484, lng: -117.213509};
        var lat_lng2 = {lat: 32.877946, lng: -117.23287};
        var lat_lng3 = {lat: 32.870494, lng: -117.238939};
        var lat_lng4 = {lat: 32.870521, lng: -117.217105};
        var lat_lng5 = {lat: 32.868592, lng: -117.220820};
        var lat_lng6 = {lat: 32.874389, lng: -117.241458};
        var lat_lng7 = {lat: 32.878484, lng: -117.213509};
        var lat_lng8 = {lat: 32.869569, lng: -117.231897};
        var lat_lng9 = {lat: 32.884414, lng: -117.211912};

        var infowindows = [
        	new google.maps.InfoWindow({
        		content: "Home-cooked Japanese with Kimchi"
        	}),
        	new google.maps.InfoWindow({
        		content: "Salmon and Cole Slaw"
        	}),
         	new google.maps.InfoWindow({
        		content: "Grilled salmon with grapefruit cole slaw"
        	}),
         	new google.maps.InfoWindow({
        		content: "Jordan's pulled pork lettuce wrap with secret sauce"
        	}),
         	new google.maps.InfoWindow({
        		content: "Train wreck of diced vegetable and strange egg like liquid"
        	}),
         	new google.maps.InfoWindow({
        		content: "Home-cooked Japanese style meal"
        	}),
         	new google.maps.InfoWindow({
        		content: "Train wreck of diced vegetable and strange egg like liquid"
        	}),
         	new google.maps.InfoWindow({
        		content: "Dried vegetable and nut curry"
        	}),
         	new google.maps.InfoWindow({
        		content: "Luke's sausage taco with cream sauce"
        	}),
         	new google.maps.InfoWindow({
        		content: "Dried vegetable and nut curry"
        	}),
         	new google.maps.InfoWindow({
        		content: "Garden salad with oriental dressing and grilled salmon"
        	}),
         	new google.maps.InfoWindow({
        		content: "Craft steak burger, a nice companion for a San Diegan brewary IPA"
        	}),
         	new google.maps.InfoWindow({
        		content: "Jasmine's craft steak burger"
        	}),
         	new google.maps.InfoWindow({
        		content: "Home-cooked Chicken curry with nan bread"
        	}),
         	new google.maps.InfoWindow({
        		content: "Kimberly's Irish smoked salmon canapes"
        	}),
         	new google.maps.InfoWindow({
        		content: "Open sandwich with goat cheese, chery tomatoes, spinach, and salami"
        	}),
        ];

        var marker1 = new google.maps.Marker({
          position: lat_lng1,
          map: map,
        });
        var marker2 = new google.maps.Marker({
          position: lat_lng2,
          map: map,
        });
        var marker3 = new google.maps.Marker({
          position: lat_lng3,
          map: map,
        });
        var marker4 = new google.maps.Marker({
          position: lat_lng4,
          map: map,
        });
        var marker5 = new google.maps.Marker({
          position: lat_lng5,
          map: map,
        });
        var marker6 = new google.maps.Marker({
          position: lat_lng6,
          map: map,
        });
        var marker7 = new google.maps.Marker({
          position: lat_lng7,
          map: map,
        });
        var marker8 = new google.maps.Marker({
          position: lat_lng8,
          map: map,
        });
        var marker9 = new google.maps.Marker({
          position: lat_lng9,
          map: map,
        });
        marker1.addListener('click', function() {
        	infowindows[0].open(map, marker1);
        });
        marker2.addListener('click', function() {
        	infowindows[1].open(map, marker2);
        });
        marker3.addListener('click', function() {
        	infowindows[2].open(map, marker3);
        });
        marker4.addListener('click', function() {
        	infowindows[3].open(map, marker4);
        });
        marker5.addListener('click', function() {
        	infowindows[4].open(map, marker5);
        });
        marker6.addListener('click', function() {
        	infowindows[5].open(map, marker6);
        });
        marker7.addListener('click', function() {
        	infowindows[6].open(map, marker7);
        });
        marker8.addListener('click', function() {
        	infowindows[7].open(map, marker8);
        });
        marker9.addListener('click', function() {
        	infowindows[8].open(map, marker9);
        });

      }
    </script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCojkxEmZw9xNuJPjaR97T2s4J8_gU1W9U&callback=initMap" async defer></script>
    <div class="row">
      <div class="col-md-12 portfolio-item">
        <button type="button" class="btn btn-primary" id="moreBtn">&nbsp;&nbsp;&nbsp;<b>more</b>&nbsp;&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>

  {{> footer}}

  <script src="js/jquery.js"></script>
  <!-- Necessary for the Bootstrap modal view -->
  <script src="js/bootstrap.min.js"></script> 
  <script src="js/search.js"></script>
  <script src="js/map/googleMapSearch.js"></script>


  <!-- custom -->
  <script>
  function loadMoreFoodItems() {

  }

  function loadFoodInfo() {
    var id = $(this).attr('id');
  }
  </script>

</body>
</html>
